- name: Download and build Dropbear
  run: |
    mkdir dropbear-build && cd dropbear-build
    wget https://matt.ucc.asn.au/dropbear/releases/dropbear-2022.83.tar.bz2
    tar -xjf dropbear-2022.83.tar.bz2
    cd dropbear-2022.83
    ./configure \
      --disable-zlib \
      --disable-lastlog \
      --disable-utmp \
      --disable-wtmp \
      --disable-loginfunc \
      --disable-pututline \
      --enable-static \
      CC=arm-linux-gnueabihf-gcc \
      LDFLAGS="-static -s" \
      CFLAGS="-Os -ffunction-sections -fdata-sections" \
      LIBS="-Wl,--gc-sections"
    make PROGRAMS="dropbear" -j2
    upx --best -o dropbear_upx dropbear
    cp dropbear_upx ../../dropbear-armv7
